[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
uvicorn = "*"
tortoise-orm = {extras = ["accel"], version = "*"}
openai = "*"
pydantic-settings = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3"
